.app {
    padding-top: 2rem;
    padding-bottom: 4rem;
    min-height: 100vh;
    background: linear-gradient(15deg, #736149, #F4D2AF, #BAC9E0, #555F78);
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
