.photo-col {
    margin-bottom: 1.5rem;
}

.card {
    border: 0;
    border-radius: 0.5rem;
    height: 100%;
    animation: fadein 0.5s;
}

// card image

.card-img-container {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    &::before {
        display: block;
        padding-bottom: 56.25%;
        content: '';
    }

    &::after {
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.card-img-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-width: none;
    height: 100%;
}

.card-img-container h3 {
    color: #ffffff;
    margin-bottom: 0;
    position: absolute;
    bottom: 1rem;
    left: 1.25rem;
    z-index: 1;
    text-shadow: 0 0 0.5rem #000000;
    font-size: 1.25rem;
}

// card content

.card-body {
    padding: 1rem 1.25rem;
}

.card-text {
    margin-bottom: 0.5rem;
}

.photo-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-featured {
    color: #D85A4B;
    font-size: 1.5rem;
}

.photo-date {
    color: #707070;
    margin-left: auto;
}
