.profile {
    background-color: #ffffff;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

// photo col

@media (max-width: 991.98px) {
    .profile-photo-col {
        margin-bottom: 1rem;
    }
}

// details col

@media (min-width: 992px) {
    .profile-row {
        flex-wrap: nowrap;
        align-items: center;

        & .profile-details-col {
            flex-shrink: 1;
        }
    }
}

// photo col content

.photo-container {
    width: 12rem;
    height: 12rem;
    border-radius: 6rem;
    overflow: hidden;
    background-color: #F4F4F4;

    img {
        animation: fadein 0.5s;
    }
}

// details col content

.profile-details-col {
    color: #666666;
    animation: fadein 0.5s;

    h1 {
        color: #000000;
        font-size: 2rem;
    }
    h2 {
        margin-bottom: 0;
        font-size: 1rem;
    }
    a {
        color: #BC0980;
    }
}

@media (max-width: 1199.98px) {
    .profile-bio-col {
        margin-bottom: 1rem;
    }
}

@media (min-width: 1200px) {
    .profile-details-row {
        flex-wrap: nowrap;
    }
    .profile-bio-col {
        flex-shrink: 1;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .profile-contact-col {
        display: flex;
    }
    .phone-number-container {
        margin-right: 2rem;
    }
}
